node_modules/
android/app/build/
android/app/release/
android/.gradle/
android/gradle/
android/build/
android/libs/
ios/build/
ios/Pods/
ios/DerivedData/
.expo/
.claude/
.cursor/
download-skia/
archive.tar.gz
*.log
*.keystore
archive.tar.gz
archive.tar.gz/
*.tar.gz